numpy
pillow
smbus2
spidev
gpiodevice>=0.0.3
requests
qrcode
flask
beautifulsoup4
fonts
font-source-sans-pro
font-source-serif-pro
font-fredoka-one
font-hanken-grotesk
font-intuitive
geocoder
seaborn
wikiquotes